.section {
    background-color: white;
    box-shadow: 2px 2px 8px #ccc;
    margin: 10px 0;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid rgb(221, 221, 221);
    margin: 0;
}

@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
}