.section__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.list__item--hidden {
    display: none;
}

.list__content--done {
    text-decoration: line-through;
}

.list__button--remove {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    transition: 0.4s;
}

.list__button--remove:hover {
    background: rgb(116, 0, 0);
}

.list__button--checked {
    background-color: green;
    border: none;
    height: 32px;
    width: 32px;
    padding: 0px;
    cursor: pointer;
    color: white;
    transition:0.4s;
}

.list__button--checked:hover {
    background: rgb(0, 90, 0);
}