.buttons {
    display: flex;
    flex-wrap: wrap;
}

.section__button {
    background: transparent;
    color: teal;
    margin: 0 0 0 15px;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .section__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.section__button:hover {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: grey;
}